@import '../../foundation/variable.scss';

.btn{
    color:$font-color_white;
    background:$background-color_purple;
    border:none;
    border-radius:5px;
    min-width:80px;
    height:36px;
    font-size:$font-size_m;
    font-weight:bold;
    box-shadow:0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    &__content{
        margin-bottom:25px;
    }
    // &__edit{
    //     width:80px;
    //     // margin:0 auto;
    //     margin-top:20px;
    //     margin-right:auto;
    //     margin-left:auto;
    // }

}