// ==========================
// メディアクエリのブレークポイント設定
// ==========================
$breakpoints: (    
    'sm' : 'screen and (max-width: 414px)',
    'md' : 'screen and (max-width: 768px)',
    'lg' : 'screen and (max-width: 1000px)',
    'xl' : 'screen and (max-width: 1200px)',
) !default;

// ==========================
// mixin
// ==========================
@mixin mq($breakpoint: sm) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin lg($breakpoint: lg) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}
@mixin xl($breakpoint: xl) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}