.toggle_wrap:last-of-type {
  border-bottom: 1px solid gray;
}
.toggle_switch {
  position: relative;
  cursor: pointer;
//   padding:10px;
//   border-top: 1px solid gray;
}
// .toggle_switch.open {
//   border-bottom: 1px solid gray;
// }
.toggle_switch:hover {
    color:$background-color_purple;
    font-weight:bold;
}
.toggle_switch::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 11px;
  background: url(http://agdemo.net/sample/toggle/img/arrow_down.svg) no-repeat center center;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  transition: transform .2s;
}
.toggle_switch.open::after {
  transform: rotateZ(180deg);
  top: 46%;
}
.toggle_contents {
  display: none;
//   padding: 5px 10px;
}