/* モーダルCSS */

.modal{
    &__Area {
    display: none;
    position: fixed;
    z-index: 10; /*サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    &__Bg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
    }
    &__Wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    max-width: 500px;
    padding: 10px 30px;
    background-color: #fff;
    }
    &__state{
        width:100%;
        text-align:center;
        margin-top:20px;
        margin-bottom:40px;
    }
    &__btn__part{
        display:flex;
        margin-bottom:30px;
    }
    &__btn{
        text-align: center;
        line-height: 36px;
        cursor: pointer;
    }
}

.withdraw__btn{
    cursor: pointer;
}


.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}